html {
    font-size: 26.6666666666667vw;
}

body {
    font-size: .14rem;
}

.outer {
    font-weight: 400;
    text-align: center;
    margin: .5rem auto;
}

.icon>a {
    color: #333;
}

.login {
    display: block;
    font-size: .28rem;
    margin-bottom: .3rem;
}

input {
    margin: .2rem 0;
    height: .3rem;
    border: none;
    border-bottom: 0.01rem solid #ccc;
    width: 3.07rem;
    outline: none;
    font-size: .14rem;
}

.submit {
    background-color: #0bbe06;
    color: #fff;
    height: .45rem;
    width: 3.07rem;
    border-radius: 0.03rem;
}

.footer {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 0;
}